

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background:transparent;

}

body{
    background: rgb(48, 48, 48);
    color: white;
    overflow: hidden;
    overflow-y: scroll;
}

